html
  box-sizing: border-box
  font-family: sans-serif
  height: 100%

*,
*::after,
*::before
  box-sizing: inherit

body
  display: flex
  flex-direction: column
  height: 100%
  min-height: 100%
  min-width: 320px
  overflow-wrap: break-word
  overflow-x: hidden

.page-content
  flex: 1 0 auto

.page-section
  margin-bottom: 80px

  @media (min-width: 768px)
    margin-bottom: 120px

  @media (min-width: 1350px)
    margin-bottom: 160px

  &.form-section
    &:last-child
      margin-bottom: 0

  &__title-block
    margin-bottom: 60px

    @media(min-width: 768px)
      align-items: center
      display: flex
      margin-left: -15px
      margin-right: -15px
      margin-bottom: 80px

    @media(min-width: 1350px)
      margin-bottom: 100px
      margin-left: -40px
      margin-right: -40px

  &__title
    @media(min-width: 768px)
      margin-bottom: 0
      padding-left: 15px
      padding-right: 15px
      width: 50%

    @media(min-width: 1350px)
      padding-left: 40px
      padding-right: 40px

  &__text
    font-size: 15px

    @media(min-width: 768px)
      font-size: 16px
      padding-left: 15px
      padding-right: 15px
      width: 50%

    @media(min-width: 1350px)
      font-size: 20px
      padding-left: 40px
      padding-right: 40px

.waves
  @media(min-width: 768px)
    background: url('../images/backgrounds/waves_tablet.svg') no-repeat 40% 0 transparent

  @media(min-width: 1350px)
    background: url('../images/backgrounds/waves_desktop.svg') no-repeat 40% 0 / cover transparent

.container
  margin-left: auto
  margin-right: auto
  max-width: 1460px
  padding-left: 20px
  padding-right: 20px

  @media (min-width: 768px)
    padding-left: 40px
    padding-right: 40px

.indent-60-80-120
  &:not(:last-child)
    margin-bottom: 60px

    @media(min-width: 768px)
      margin-bottom: 80px

    @media(min-width: 1350px)
      margin-bottom: 120px

.indent-80-120-160
  &:not(:last-child)
    margin-bottom: 80px

    @media(min-width: 768px)
      margin-bottom: 120px

    @media(min-width: 1350px)
      margin-bottom: 160px
