<footer class="footer">
  <div class="container">
    <div class="footer__top footer__section">
      <div class="footer__top-left">
        <p class="footer__clinics">
          <span class="footer__clinics-pin"><svg><use xlink:href="#pin"></use></svg></span>
          <span class="footer__clinics-text">8 Клиник в СПБ</span>
        </p>
      </div>
      <div class="footer__top-center">
        <p class="footer__phone"><a href="tel:+78127750414">8 (812) 775-04-14</a></p>
        <p class="footer__work-time">Пн-Вс,<br> 09:00-21:00</p>
      </div>
      <div class="footer__top-right">
        <div class="socials">
          <a class="social-link" href="#" title="Наш канал на YouTube" rel="nofollow noreferrer"><svg><use xlink:href="#yt"></use></svg></a>
          <a class="social-link" href="#" title="Наша страничка на Facebook" rel="nofollow noreferrer"><svg><use xlink:href="#fb"></use></svg></a>
          <a class="social-link" href="#" title="Наш аккаунт в Instagram" rel="nofollow noreferrer"><svg><use xlink:href="#inst"></use></svg></a>
          <a class="social-link" href="#" title="Наша страничка в Vk" rel="nofollow noreferrer"><svg><use xlink:href="#vk"></use></svg></a>
          <a class="social-link" href="#" title="Наш аккаунт в Twitter" rel="nofollow noreferrer"><svg><use xlink:href="#tw"></use></svg></a>
        </div>
      </div>
    </div>
    <div class="footer__mid footer__section">
      <div class="footer__mid-left">
        <ul class="footer-menu">
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Цены</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Специалисты</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Акции</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Отзывы</a></li>
        </ul>
      </div>
      <div class="footer__mid-center">
        <p class="footer__mid-title"><a href="#">О центре</a></p>
        <ul class="footer-menu2">
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Обращение главного врача</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Наши вакансии</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">PriMed - учебный центр</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Блог</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Пресса о нас</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Оборудование и технологии</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">3D-тур</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Франшиза стоматологии</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Клинические случаи</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Отзывы</a></li>
        </ul>
      </div>
      <div class="footer__mid-right">
        <p class="footer__mid-title"><a href="#">Услуги</a></p>
        <ul class="footer-menu2">
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Имплантация</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Стоматологический туризм</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Исправление прикуса</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Диагностика</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Протезирование</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Детская стоматология</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Лечение зубов</a></li>
          <li class="footer-menu2__item"><a class="footer-menu2__link" href="#">Эстетическая стоматология</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__mid-bot footer__section">
      <div class="footer__mid-bot-left"><img class="footer__logo" src="images/logo_big.svg" alt="Стоматологический центр города Primed"></div>
      <div class="footer__mid-bot-right">
        <p class="footer__mid-bot-title">Имеются противопоказания, необходимо проконсультироваться со специалистом</p>
        <p>Обращаем ваше внимание на то, что данный интернет-сайт (www.stomcenter.ru) носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 п.2 Гражданского кодекса Российской Федерации. Для получения подробной информации о содержании и стоимости указанных услуг, пожалуйста, обращайтесь к администрации сайта с помощью специальной формы связи или по телефонам: +7-812-775-04-14</p>
      </div>
    </div>
    <div class="footer__bot">
      <p>© 2004 - 2021, сеть клиник "Стоматологический центр города" Все права защищены.</p>
      <p><a href="#">Политика компании в отношении обработки персональных данных</a></p>
      <p><a href="#" target="_blank" rel="nofollow noreferrer">Маркетинговая поддержка VSignal</a></p>
    </div>
  </div>
</footer>
