<div id="appointment" class="popup">
  <p class="popup__title">Бесплатная консультация</p>
  <form class="form" action="">
    <div class="form__row">
      <div class="form__row-cell">
        <label class="label">
          <span class="label__text">Ваше имя</span>
          <input class="input input--white" type="text" name="user_name" placeholder="Введите имя">
        </label>
      </div>
      <div class="form__row-cell">
        <label class="label">
          <span class="label__text">Выберите услугу (необязательно)</span>
          <span class="select-wrapper white">
            <select class="js-select" name="service">
              <option>Исправление прикуса</option>
              <option>Услуга</option>
              <option>Другая услуга</option>
              <option>Исправление прикуса</option>
              <option>Услуга</option>
              <option>Другая услуга</option>
              <option>Исправление прикуса</option>
              <option>Услуга</option>
              <option>Другая услуга</option>
              <option>Исправление прикуса</option>
              <option>Услуга</option>
              <option>Другая услуга</option>
            </select>
          </span>
        </label>
      </div>
    </div>
    <div class="form__row">
      <div class="form__row-cell">
        <label class="label">
          <span class="label__text">Ваш телефон</span>
          <input class="input input--white" type="text" name="user_phone" placeholder="Введите телефон">
        </label>
      </div>
      <div class="form__row-cell">
        <button class="form__submit button button--white" type="submit">Узнать стоимость <svg class="arrow"><use xlink:href="#arrow_right"></use></svg></button>
      </div>
    </div>
  </form>
  <p>Нажимая на кнопку “Рассчитать стоимость” вы соглашаетесь с политикой конфиденциальности данного сайта.</p>
</div>
